.myCountdownClass{
    width:100%;
    display: flex;
    transform: scale(1.1);
    align-items: flex-start;
    background-color: #fff;
    padding-bottom: 5%;
}
.myCountdownClass h1{
    margin-top: 30px;
    text-align: center;
    white-space: nowrap;
    margin-left: 37%;
    padding-bottom: 20px;
    color: red;
    font-family: Raleway, sans-serif;
    font-weight: 700;
}
.myCountdownClass li{
    list-style: none;
    font-family: Raleway, sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: #333333;

}
.myCountdownClass li:nth-child(2){
    color: red;
    font-size: 20px;
    font-weight: 500;
}


.time{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 6%;
    background-color: #333333;
    color: #ffffff;
}
.time h2{
    font-weight: bold;
    font-size: 40px;
    line-height: 1;
    margin: 0 0 5px;
}

.timeLink{
    position: relative;
    left: 6%;
    font-size: 20px;
    margin-top: 2%;
}

.content {
    position: relative;
    right: 50%;
    margin-top: 2%;
}
.content h1 {
    color: #555555;
    font-size: 28px;
    font-weight: 900;
    padding-left: 70px;
}

.content h1 span {
    font-weight: 400;
    font-size: 20px;
}


@media screen and (max-width:992px){
    .myCountdownClass h1{
        position: relative;
        left: -23%;
        font-size: 30px;
        text-align: center;
        padding-top: 15%;
        align-items: center;
        margin-bottom: 7%;

    }
    .myCountdownClass ul{
        margin-top: 30%;
    }
    .myCountdownClass li{
        padding-bottom: 10px;
    }
    .myCountdownClass li:nth-child(2){
        color: blue;
        position: relative;
        right: 17px;
    }
    .myCountdownClass li:nth-child(3){
        color: blue;
        position: relative;
        right: 17px;
    }
}
@media screen and (max-width:992px){
    .time{
        position: relative;
        left: -110%;
    }
}
@media screen and (max-width:992px){
    .content{
        position: relative;
        right: 29%;
        margin-top: -19%;
    }
}
@media screen and (max-width:992px){
    .timeLink{
        position: relative;
        left: -165%;
        white-space: nowrap;
        margin-top: 80%;
        color: red;
        font-weight: bold;
        margin-bottom: 10%;
    }
}

